.form-select{
    background-color: rgb(255, 255, 255);
    font-family: Arial white;
}
#content-login{
    width: 40%;
    background-color: rgba(197, 188, 176, 0.753);
    border-radius: 1rem;
    padding: rem;
    margin-top: 2rem;
    
}
.btn{
    padding: 0.5rem;
    margin-left: 12%;
    margin-right: 12%;
}
