.form-select{
    background-color: rgb(255, 255, 255);
    font-family: Arial white;
}
#content-registrar{
    width: 50%;
    background-color: rgba(197, 188, 176, 0.753);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    
}
.btn{
    padding: 0.5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    

}