<!-- <div *ngIf="this.flag == false"> -->
<div>
    <p>User:<input type="text"  [(ngModel)]="this.user"></p>
    <p>Pasword: <input type="password" [(ngModel)]="this.password" ></p>
    <p>Repetir Pasword: <input type="password" [(ngModel)]="this.password2" ></p>

    <input type="button" value="Login" [disabled] = "this.user == '' || this.password == '' || this.password2 == ''" (click)="Registrar()">

</div>
<!-- local storage
    bootstrap
    json (parse y stringify) 

    angular:
    routing (routerlink, rout[{path component}] y router se inyecta)


    agregar:
hay que sumar la vlidacion:
al registrar: si existe el usuario y redirigir al login al registrar
al logear: si el usuario es correcto, si la contraseña es correcto y al logear ir al bienvenido 
agregar el bienvenido-->