<!-- <div *ngIf="this.flag == false"> -->
<div class="registrar">
    <p>User:<input type="text"  [(ngModel)]="this.user"></p>
    <p>Pasword: <input type="password" [(ngModel)]="this.password" ></p>
    <p>Repetir Pasword: <input type="password" [(ngModel)]="this.password2" ></p>

    <input type="button" class="button" value="Registrar" [disabled] = "this.user == '' || this.password == '' || this.password2 == ''" (click)="Registrar()">

</div>
<!-- temas vistos: 
    local storage
    bootstrap
    json (parse y stringify) 

    angular:
    routing (routerlink, rout[{path component}] y router se inyecta)


    agregar:
al registrar: que no exista el usuario, que coincidan las contraseñas y redirigir al login al registrar ok
al logear: si el usuario es correcto, si la contraseña es correcto y al logear ir al bienvenido ok
informar que la contraseña o usuario es incorrecto o no existe
agregar el bienvenido ok
-->