<!-- <div *ngIf="this.flag == false"> -->

<div class="mb-3">
    <label for="name" class="form-label">Usuario</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        [(ngModel)]="this.usuario.nombre">
</div>
<div class="mb-3">
    <label for="date" class="form-label">Fecha de Nacimiento</label>
    <input type="date" class="form-control" id="date" aria-describedby="emailHelp"
        [(ngModel)]="this.usuario.fechaNac">
</div>
<div class="mb-3">
    <label for="dni" class="form-label">DNI</label>
    <input type="number" class="form-control" id="dni" aria-describedby="emailHelp"
        [(ngModel)]="this.usuario.dni">
</div>
<div class="mb-3">
    <label for="dni" class="form-label">Foto de perfil</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        [(ngModel)]="this.usuario.imagen">
</div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="this.usuario.contrasena">
</div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Repetir contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="this.contrasena2">
</div>

<button type="submit" class="btn btn-primary"
    [disabled]="this.usuario.nombre == '' || this.usuario.contrasena == '' || this.contrasena2 == ''"
    (click)="Registrar()">Registrar</button>



<!-- temas vistos: 
    local storage
    bootstrap
    json (parse y stringify) 

    angular:
    routing (routerlink, rout[{path component}] y router se inyecta)


    agregar:
al registrar: que no exista el usuario, que coincidan las contraseñas y redirigir al login al registrar ok
al logear: si el usuario es correcto, si la contraseña es correcto y al logear ir al bienvenido ok
informar que la contraseña o usuario es incorrecto o no existe
agregar el bienvenido ok
-->